.home {
  display: grid;
  grid-template-columns: 0.6fr 2.5fr;
  grid-template-rows: 1.1fr;
  gap: 15px 15px;
  grid-template-areas: '. .';
  margin-top: 50px;
  .navigate {
    display: flex;
    margin: 0 auto;
  }
}
