.search {
    input {
        width: 200px;
        background-color: rgb(249, 250, 228);
        border: none;
        padding: 20px 30px;
        border-radius: 10px;
        font-size: 13px;
    }
}